

$signInArt: url("../../images/SignInArt.png");
$signUpArt: url("../../images/SignUpArt.png");
$slideLeftArrow: url("../../images/leftSlideArrow.png");
$slideRightArrow: url("../../images/rightSlideArrow.png");
$realityLogoTranslucent: url("../../images/eye-logo-translucent.png");
$redGradient: url("../../images/red-gradient.png");



*{
    box-sizing:border-box;  
}

body{
    font-family: ProductSans;
}

p {
    font-size: 12px;
    color: red;
}

.signUp-container{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    float: none;
    }
    .signUp-field{
        background-image: $signUpArt;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50%;
        height: 100vh;
    }
    .reality-brief{
        background-image: $redGradient;
        width:50%;
        height: 100vh;
    }
    .field-details{
        margin:auto;
        margin-top:16%;
        padding-left: 27px;
        flex-direction: column;
        width: 50%;
         }
    .eye-img{
      width: 56%;
         }
    .termsConditrion{
      display: flex;
    }
    .check-terms{
     width: 10%;
    }
    h1{
        color: #c1272d;
    }
    h3{
        color: #7a7a7a;
        text-align:center;
    }
    .signUp-logo{
        margin: 0 auto 0 auto;
        width:50%;
    }
   input{
    line-height: 1.33;
    outline: none;
    border: none;
    border-bottom: 1px solid #CCC;
    width: 100%;
    padding-bottom: 5px;
}

.exp-text{
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}
.opacEye-img{
    display: flex !important;
    width: 77%;
    height: 80%;
    background-size: cover;
    margin-top: 70px;
    margin-left: 40px;
  background-image: $realityLogoTranslucent;
}
.register-btn {
    display: flex;
    justify-content: center;
}
.start-btn{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    border-radius: 25px;
    color: #ffff;
    outline: none;
    border:none;
    background: #d4145a;
    
}
.terms-context ,.redirect-text{
    color:#707070;

}
.world{
    color:black;
}
.exp-text{
    color:#ffffff;
    font-size: 18px;
}
.reality-people{
    color:#ffffff;
}
.alreadyUser{
    display: flex;
    justify-content: center;
    margin-top:13px;
}
.sideBar-slider{
    position: absolute;
    left: 46%;
    top: 42%;
}
.slider-img{
    width: 64%;
}
.name-field{
    margin-bottom: 24px;
}
.mail-field{
    margin-bottom: 24px;
}
.password-field{
    margin-bottom: 5px;
}
   
#click-login{
    color: #d4145a;
    padding-left: 10px;
}

.changeTerms{
    color: #d4145a;
}

@media only screen and (max-width: 786px){
    .sideBar-slider,.reality-brief{
        display: none;
    }
}