$signInArt: url("../../images/SignInArt.png");
$signUpArt: url("../../images/SignUpArt.png");
$slideLeftArrow: url("../../images/leftSlideArrow.png");
$slideRightArrow: url("../../images/rightSlideArrow.png");
$realityLogoTranslucent: url("../../images/eye-logo-translucent.png");
$redGradient: url("../../images/red-gradient.png");

* {
  box-sizing: border-box;
}

body {
  font-family: ProductSans;
}

p {
  font-size: 12px;
  color: red;
}

.signUp-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  float: none;
}
.signUp-field {
  background-image: $signUpArt;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 50%;
  height: 100vh;
}
.reality-brief {
  background-image: $redGradient;
  width: 50%;
  height: 100vh;
}
.field-details {
  margin: auto;
  padding-top: 20%;
  padding-bottom: 10%;
  flex-direction: column;
  width: 50%;
}
.reality-details {
    h2{
        width:80%;
    }
}
.termsConditrion {
  display: flex;
}
.check-terms {
  width: 10%;
}
h1 {
  color: #c1272d;
  text-align: center;
}
h3 {
  color: #7a7a7a;
  text-align: center;
}
.signUp-logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
input {
  line-height: 1.33;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 5px;
}
.exp-text {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}
.opacEye-img {
  display: flex !important;
  width: 100%;
  height: 80%;
  background-size: 100% 100%;
  margin-top: 70px;
  background-image: $realityLogoTranslucent;
}
.register-btn {
  display: flex;
  justify-content: center;
}
.start-btn {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  border-radius: 25px;
  color: #ffff;
  outline: none;
  border: none;
  background: #d4145a;
}
.terms-context,
.redirect-text {
  color: #707070;
  margin: 0px;
}
.world {
  color: black;
}
.exp-text {
  color: #ffffff;
  font-size: 18px;
}
.errormsg{
  position: absolute;
  top: 10px;
}
.reality-people {
  color: #ffffff;
}
.alreadyUser {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.sideBar-slider {
  position: absolute;
  left: 46%;
  top: 42%;
}
.slider-img {
  width: 64%;
}
.name-field {
  margin-bottom: 24px;
  position: relative;
}
.mail-field {
  margin-bottom: 24px;
  position: relative;
}
.password-field {
  margin-bottom: 5px;
  position: relative;
}

#click-login {
  color: #d4145a;
  padding-left: 10px;
  text-decoration: none;
}

.changeTerms {
  color: #d4145a;
}

@media only screen and (max-width: 786px) {
  h1 {
    font-size: 27px;
  }
  h3 {
    font-size: 24px;
  }
  .sideBar-slider,
  .reality-brief {
    display: none;
  }
  .signUp-container {
    .signUp-field {
      background-size: 100% 100%;
      width: 100%;
    }
  }
  .field-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10% !important;
    width: 75% !important;
    margin-top: 20% !important;
    padding-left: 30px !important;
    .name-field,
    .mail-field,
    .password-field {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  .register-btn {
    width: 100%;
  }
}
@media only screen and (max-width:320px) {
  .field-details {
    margin-top: 25% !important;
    padding-left: 24px !important;
    padding-top: 0% !important;
  }
  .eye-img{
    width: 60%;
  }
}
