@import "../../variable.scss";

.editable-profile {
  .profile-section {
    padding: 10px 20px 20px 20px;
    .profile-header {
      .profile-header {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .details-section {
      padding-top: 20px;
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .details-block {
          display: flex;
          flex-direction: row;
          padding-top: 10px;
          padding-bottom: 10px;
          .title {
            text-align: left;
            font-size: 12px;
            font-weight: 600;
            margin-right: 20px;
          }
          .desc {
            text-align: left;
            font-size: 11px;
            input{
              outline: none;
            }
          }
        }

        #btn-section {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          .tsg-btn {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .editable-profile {
    .profile-section {
      .details-section {
        max-width: 100%;
      }
    }
    #btn-section {
      margin-left: 0px !important;
      margin-top: 0px !important;
      #edit-btn {
        width: 110px;
      }
    }
  }
}
