@import "../../variable.scss";

.wrapper {
  width: 80%;
  position: relative;
  margin: 0 auto;

  .headingBox {
    text-align: center;
  }

  .heading {
    color: #fff;
  }

  .calc-area {
    background: green;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 93px;
    justify-content: space-between;
  }

  .single-btn {
    flex: 3;
    width: 100px;
    min-width: 100px;
  }

  .main-box {
    margin-top: 70px;
  }

  .value-box {
    border: 1px solid gray;
    width: 400px;
    height: 35px;
    text-align: right;
    margin-bottom: 0;
  }

  .value-box-dark {
    border: 1px solid gray;
    width: 400px;
    height: 35px;
    text-align: right;
    margin-bottom: 0;
    color:#fff;
  }
}