@import "../../variable.scss";


.single-btn {
    flex: 3 1;
    width: 100px;
    padding: 10px;
    min-width: 100px;
    background: #f0f0f0;
}

.single-btn-dark {
    flex: 3 1;
    width: 100px;
    padding: 10px;
    min-width: 100px;
    color: #fff ;
    background: #666 ;
}