.privacy {
    .online-status {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blockUser-info {
        margin-top: 40px;
        background: aquamarine;
        width: 30%;
        height: 30vh;
    }
    .user-name {
        border-top: 1px solid;
        padding: 9px;
    }
    .user-photo {
        overflow: hidden;
        width: 206px;
        height: 140px;
    }
    .blockUser-img {
        object-fit: cover;
        width: 100%;
        min-height: 100%;
    }
    .blockUser-display {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .search-field{
        width: 85%;
        height: 30px;
        border-radius: 10px;
        border-style: groove;
    }
    .search-blockUser{
        margin: 20px 0 0 20px;
    }
    .listName{
        padding: 8px;
        list-style: none;
        width: 50%;
        border: 1px solid bisque;
    }
}